@import 'utils/variables';

.daakia-home-page {
    position: relative;
    padding: 20px;
    background-color: var(--center-channel-bg);
    min-height: calc(100vh - 60px);
    overflow-y: hidden;
    height: calc(100vh - 60px);

    &__content {
        max-width: none;
        margin: 0;
    }

    &__bottom-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        margin-top: 32px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
}